*.o
*.Administrator
*.Mark
*.user
*.bin
*.map
*.crf
*.d
*.dep
*.txt
*.log
*.__i
*.axf
*.htm
*.lnp
*.tra
*.plg
prj_*/keil/obj
*.ini
prj_*/iar/Debug/*
prj_*/iar/Release/*
*.tmp*
prj_*/iar/settings/*
prj_*/keil/*.bak
prj_*/keil/*.c
prj_*/keil/*.uvopt
*.eww
